* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:navajowhite;
    color:saddlebrown;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;    
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

      .header {
    background-color:sandybrown;
    
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;    
    
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
  }

  footer {
    background-color:sandybrown;
  }

  .section-item a {
    color: saddlebrown;
    text-decoration: none;   
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .section {
    width: 50%;
  }
  



